<h1>About Blog</h1>

<%= link_to 'Home', root_path %>

<div class="center">

	<div align="center">
      <p>This is where you come to console yourself and give praises to God  </p>
      <p>Also this is what makes you know ruby on rails is easy</p>
    </div>
    
</div>